@use "../base/variables" as base;

.pageNotFound {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 70px;
  h1 {
    font-size: 15rem;
    margin: 5rem;
    color: base.$main-red;
  }
  p {
    color: base.$main-red;
    font-size: 2rem;
  }
  a {
    color: black;
    margin-bottom: 5rem;
  }
}

@media (max-width: 767.98px) {
  .pageNotFound {
    padding: 0 50px;
    text-align: center;
    h1 {
      font-size: 6rem;
      margin-bottom: 0;
    }
    p {
      font-size: 1.125rem;
    }
  }
}
